.Outer {
	display: flex;
	justify-content: center
}

.Camera {
	position: absolute;
}

.CropBox {
	width:350px;
	height:350px;
	border:5px solid #fd0000; 
	visibility: visible; 
	position: absolute;
	margin-top: 90px;
	margin-left: 200px;
}